.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-VuBPemkHHGhJ);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-yQzIGFTVfdJb);
  font-family: var(--token-PZgyCp7AMluc);
  font-size: var(--token-JmgWPOcI3jgd);
  line-height: var(--token-ESUyGKKw5ipE);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-EIzuZxi6Pl7V);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-B94hkm3gvD1L);
  outline-offset: 1px;
  outline-color: var(--token-VuBPemkHHGhJ);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-Il0lpLYZrHmJ);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-zsax3RTqB91r);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-E5Z52ImeX0aq);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-NprJJhvFo07L);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-Ki8XGw_wNnYC);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-QkeFwtb62K9i);
  font-size: var(--token-bjGxfAH9-q_3);
  column-gap: var(--token-B94hkm3gvD1L);
  row-gap: 0px;
  border-radius: var(--token-8OdyRl2HPdNU);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-bjGxfAH9-q_3);
  line-height: var(--token-QkeFwtb62K9i);
  column-gap: var(--token-8OdyRl2HPdNU);
  row-gap: 0px;
  border-radius: var(--token-8OdyRl2HPdNU);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-U_U87zIHMEUo);
  line-height: var(--token-Mf2VxxtDKQKZ);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-U_U87zIHMEUo);
  line-height: var(--token-Mf2VxxtDKQKZ);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-POzygY9anGWk);
  border-radius: var(--token-EIzuZxi6Pl7V);
}
.softBackgroundcolor_neutral {
  background: var(--token-s4RP4Z1St9Nd);
}
.softBackgroundcolor_muted {
  background: var(--token-P1t6m3yQFR1r);
}
.softBackgroundcolor_success {
  background: var(--token-s24Q1--7RgLF);
}
.softBackgroundcolor_warning {
  background: var(--token-WAjdAnAtcmax);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-knnC1063Yjrf);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-EIzuZxi6Pl7V);
  border: 0px solid var(--token-XhGen5Xd3nP_);
}
.bordercolor_neutral {
  border-color: var(--token-ABrI12OWTDNh);
}
.bordercolor_muted {
  border-color: var(--token-UkNxeFY2CHmq);
}
.bordercolor_success {
  border-color: var(--token-LwDJpdpfLXbi);
}
.bordercolor_warning {
  border-color: var(--token-FBQbdQGE0F0o);
}
.bordercolor_errorDestructive {
  border-color: var(--token-SgBitW6pGILY);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-EIzuZxi6Pl7V);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-6iS6Law1JMMx);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-9F2_S71GGhoI);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-2O34VG_KmUpE);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__qkCiU {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-EIzuZxi6Pl7V) var(--token-Ytq9zVz2CQxs);
}
.freeBox__qkCiU > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-EIzuZxi6Pl7V));
  width: calc(100% + var(--token-EIzuZxi6Pl7V));
}
.freeBox__qkCiU > :global(.__wab_flex-container) > *,
.freeBox__qkCiU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qkCiU > :global(.__wab_flex-container) > picture > img,
.freeBox__qkCiU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-EIzuZxi6Pl7V);
}
.freeBoxsize_extraSmall__qkCiUp7M3Y {
  padding: var(--token-8OdyRl2HPdNU) var(--token-EIzuZxi6Pl7V);
}
.freeBoxsize_small__qkCiUnaahb {
  padding: var(--token-EIzuZxi6Pl7V) var(--token-yQzIGFTVfdJb);
}
.freeBoxsize_large__qkCiUtF5Lz {
  padding-top: var(--token-8OdyRl2HPdNU);
  padding-bottom: var(--token-8OdyRl2HPdNU);
}
.freeBoxsize_extraLarge__qkCiUg8Qu {
  padding-left: var(--token-P0MlYrpgP_oJ);
  padding-right: var(--token-P0MlYrpgP_oJ);
}
.freeBoxroundedFull__qkCiUAhOju {
  padding-right: var(--token-P0MlYrpgP_oJ);
  padding-left: var(--token-P0MlYrpgP_oJ);
}
.freeBox__uw1Ub {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__uw1UbhoenV {
  display: flex;
}
.slotTargetStart {
  color: var(--token-oyEmJJu-u-pu);
}
.slotTargetStartcolor_neutral {
  color: var(--token-n3E2dAD_hOIp);
}
.slotTargetStartcolor_muted {
  color: var(--token-EqBGKZ3yoYEK);
}
.slotTargetStartcolor_success {
  color: var(--token-sTfKpjRglO7m);
}
.slotTargetStartcolor_warning {
  color: var(--token-Eyq91b2yGtIm);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-g0CWVvTZIcTz);
}
.slotTargetStarttype_soft {
  color: var(--token-zQtmb9jPfX7L);
}
.slotTargetStarttype_bordered {
  color: var(--token-zQtmb9jPfX7L);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-bjGxfAH9-q_3);
}
.slotTargetStartsize_small {
  font-size: var(--token-bjGxfAH9-q_3);
}
.slotTargetStartsize_large {
  font-size: var(--token-U_U87zIHMEUo);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-U_U87zIHMEUo);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-pwOt-P6AbYUo);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-pwOt-P6AbYUo);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-dBYDNCjkIEEZ);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-dBYDNCjkIEEZ);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-_pYaghQr9tRs);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-_pYaghQr9tRs);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-AqhGAZJhx6ca);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-AqhGAZJhx6ca);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-vIKRwnNeE6qL);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-vIKRwnNeE6qL);
}
.svg__y2JA {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-oyEmJJu-u-pu);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-n3E2dAD_hOIp);
}
.slotTargetLabelcolor_muted {
  color: var(--token-EqBGKZ3yoYEK);
}
.slotTargetLabelcolor_success {
  color: var(--token-sTfKpjRglO7m);
}
.slotTargetLabelcolor_warning {
  color: var(--token-Eyq91b2yGtIm);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-g0CWVvTZIcTz);
}
.slotTargetLabeltype_soft {
  color: var(--token-zQtmb9jPfX7L);
}
.slotTargetLabeltype_bordered {
  color: var(--token-zQtmb9jPfX7L);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-pwOt-P6AbYUo);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-dBYDNCjkIEEZ);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-pwOt-P6AbYUo);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-_pYaghQr9tRs);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-dBYDNCjkIEEZ);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-AqhGAZJhx6ca);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-_pYaghQr9tRs);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-vIKRwnNeE6qL);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-AqhGAZJhx6ca);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-vIKRwnNeE6qL);
}
.text__tCr6E {
  white-space: pre;
}
.freeBox__yfwsU {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__yfwsUdHm1X {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-oyEmJJu-u-pu);
}
.slotTargetEndcolor_neutral {
  color: var(--token-n3E2dAD_hOIp);
}
.slotTargetEndcolor_muted {
  color: var(--token-EqBGKZ3yoYEK);
}
.slotTargetEndcolor_success {
  color: var(--token-sTfKpjRglO7m);
}
.slotTargetEndcolor_warning {
  color: var(--token-Eyq91b2yGtIm);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-g0CWVvTZIcTz);
}
.slotTargetEndtype_soft {
  color: var(--token-zQtmb9jPfX7L);
}
.slotTargetEndtype_bordered {
  color: var(--token-zQtmb9jPfX7L);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-bjGxfAH9-q_3);
}
.slotTargetEndsize_small {
  font-size: var(--token-bjGxfAH9-q_3);
}
.slotTargetEndsize_large {
  font-size: var(--token-U_U87zIHMEUo);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-U_U87zIHMEUo);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-pwOt-P6AbYUo);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-pwOt-P6AbYUo);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-dBYDNCjkIEEZ);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-dBYDNCjkIEEZ);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-_pYaghQr9tRs);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-_pYaghQr9tRs);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-AqhGAZJhx6ca);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-AqhGAZJhx6ca);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-vIKRwnNeE6qL);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-vIKRwnNeE6qL);
}
.svg___3WNb {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
