.root {
  display: inline-flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  padding: 8px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.text__upEq6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  color: #fab611;
  font-size: 20px;
  padding-right: 0px;
  display: flex;
}
.text___1SWb6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  color: #fab611;
  font-size: 26px;
  padding-right: 0px;
}
.text__liio8 {
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  font-weight: 600;
  color: #fab611;
  font-size: 20px;
  padding-left: 0px;
}
