.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fab61133;
  min-width: 0;
  padding: 4px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 22px);
  width: calc(100% + 22px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 22px;
}
.img {
  object-fit: contain;
  max-width: var(--token-xD9qOIXL5I8G);
  width: auto;
  height: auto;
}
.img > picture > img {
  object-fit: contain;
}
.freeBox__mp8Cg {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__mp8Cg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__mp8Cg > :global(.__wab_flex-container) > *,
.freeBox__mp8Cg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mp8Cg > :global(.__wab_flex-container) > picture > img,
.freeBox__mp8Cg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.freeBox__epeEx {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__epeEx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.freeBox__epeEx > :global(.__wab_flex-container) > *,
.freeBox__epeEx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__epeEx > :global(.__wab_flex-container) > picture > img,
.freeBox__epeEx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
}
.svg__msmam {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  flex-shrink: 0;
  height: 1em;
}
.text__oxX1J {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
}
.freeBox__l78My {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__l78My > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.freeBox__l78My > :global(.__wab_flex-container) > *,
.freeBox__l78My > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l78My > :global(.__wab_flex-container) > picture > img,
.freeBox__l78My
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
}
.svg__clbbK {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  flex-shrink: 0;
  height: 1em;
}
.text__rXgsA {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  font-weight: 600;
}
.freeBox__sFkVp {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__wVsIx {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__wVsIx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__wVsIx > :global(.__wab_flex-container) > *,
.freeBox__wVsIx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wVsIx > :global(.__wab_flex-container) > picture > img,
.freeBox__wVsIx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.select:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
}
.menuItem___3PIfu:global(.__wab_instance):global(.__wab_instance) {
  height: auto;
}
.menuItem__pLu6Y:global(.__wab_instance):global(.__wab_instance) {
  height: auto;
}
.menuItem__yS9Gk:global(.__wab_instance):global(.__wab_instance) {
  height: auto;
}
.freeBox___27XF9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  max-width: 100%;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 4px;
  border-width: 1px;
  border-style: solid;
}
.svg__zdRZa {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
